@forward 'variables/global' ;
@forward 'reset';
@forward 'themes/dark';
@forward 'themes/light';

.app {
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--primary-color);

  min-height: 100vh;
  // background-color: aquamarine;
}
