.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  gap: 15px;
  align-items: center;
}

.link {
  // text-decoration: none;
  color: var(--inverted-primary-color);
}
